# 가상환경
venv/

# 캐시
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# 환경변수
node_modules/
.env

# 벡터 DB (용량 큼)
vector_store/

# 체크포인트
checkpoint.pkl

# IDE
.vscode/
.idea/

# 빌드
dist/
build/
*.egg-info/

# 로그
*.log

# OS
.DS_Store
Thumbs.db

**/chroma_db/