/* App.css (공통 스타일 예시) */

@font-face {
  font-family: 'PleegeFont';   /* 👈 우리가 앞으로 코드에서 부를 이름 */
  src: url('./assets/fonts/esamanru-medium.ttf') format('truetype'); /* 👈 파일 경로 확인! */
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'PleegeFont', sans-serif;
  background-color: transparent;
}

/* 모든 페이지에서 쓰일 공통 버튼 스타일이 있다면 여기! */
.common-btn {
  border-radius: 8px;
  cursor: pointer;
}